#contact-us {
  font-size: 1.7em;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 800px;
}
@media screen and (max-width: 550px) {
  #contact-us {
    font-size: 1.5em;
  }
}
