#header-logo h1 {
  font-size: 4.4em;
  margin: 0;
  margin-left: 0.3em;
}
#header-logo img {
  height: 110px;
  margin-right: 20;
}
#header-tagline {
  font-size: 2em;
  margin: 20px 0;
}
#header-tagline-newline {
  display: none;
}
@media screen and (max-width: 550px) {
  #header-logo h1 {
    font-size: 4.2em;
  }
  #header-logo img {
    height: 95px;
  }
  #header-tagline {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 520px) {
  #header-logo h1 {
    font-size: 3.8em;
  }
  #header-logo img {
    height: 80px;
  }
  #header-tagline {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 450px) {
  #header-tagline {
    font-size: 1.9em;
  }
  #header-tagline-newline {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  #header-logo h1 {
    font-size: 3.3em;
  }
  #header-logo img {
    height: 75px;
  }
  #header-tagline {
    font-size: 1.8em;
  }
  #header-tagline-newline {
    display: block;
  }
}
@media screen and (max-width: 350px) {
  #header-logo h1 {
    font-size: 3em;
  }
  #header-logo img {
    height: 70px;
  }
  #header-tagline {
    font-size: 1.7em;
  }
  #header-tagline-newline {
    display: block;
  }
}
