# We have to pack the telefunc library and install it from a tarball, otherwise
# when installing via `npm install ../../telefunc`, npm creates a symlink and 
# Metro cant resolve it properly. We don't want to upload tarballs to git.
telefunc-*.tgz

node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
